.new-tweet{
  width: 90%;
  display:flex;
  align-items: center;
  flex-direction: column;
  
  font-size: medium;
}
.new-tweet button{
  font-family: 'Bungee';
  background-color: #4056A1;
  color: #FFFFFF;
}
.new-tweet form {
  width:90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.new-tweet label {
  margin-bottom: 5px solid black;
  font-weight: bold;
}

.new-tweet textarea {
  width: 100%;
  background-color: none;
    height: 40px; /* Height of a single line */
    border: none; /* Remove all borders */
    border-bottom: 2px solid #000; /* Add bottom border */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    font-family: Arial, sans-serif;
    font-size: 16px;
    
    margin-bottom: 15px;
    overflow: hidden; /* Hide scrollbars */
    line-height: 1.5; /* Ensure proper line height */
}
.new-tweet div{
  display:flex;
  justify-content: space-between;
}

/*Adding a css class for the counter*/
.counter-red{
  color: red;
}
 

        
